{% extends 'ALM/common3.html' %}

{% block content %}
<div class="centra">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Cambia password</h3>
			</div>
        <div class="card-body">
            <form class="row g-3 needs-validation" action="{% url 'ALM:cambia_password' %}" method="post">
                {% csrf_token %}
                <div class="container text-center panel-heading my-3">
                    {% if error_message %}
                    <p class="error rounded p-d ml-b">{{ error_message }}</p>
                    {% endif %}
                </div>
                <p class="text-sm-center my-2 fs-5 text-break">
                        Inserisci una nuova password per il tuo account
                </p>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input name="password" value="" placeholder="password" type="password" class="form-control">
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input name="conferma" value="" placeholder="conferma password" type="password" class="form-control">
                </div>
                <div class="col-12 text-center my-5">
                    <input name="login" type="submit" value="Conferma" class="btn btn-success" />
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}