{% extends 'ALM/common1.html' %}

{% block content %}
<div class="divtitolo">
  <div class="titolo animated bounceInDown">
    <a href="#ahlm" class="link-iniziale"><h1 class="display-4 fw-bold">CHI SIAMO</h1></a>
    <span class="animated bounce icon-angle-down"></span>
  </div>
</div>

<a name="ahlm"></a>
<div class="centra">
  <div class="container my-2 text-center sfondo shadow p-3 mb-5 rounded text-light">
    <h1 class="display-6">Ci presentiamo</h1>
    <p class="text-sm-center-light my-5 fs-5 text-break">
      Siamo tre studenti dell'istituto badoni, studiamo telecomunicazioni e siamo appassionati della metereologia.
    </p>

    <h1 class="display-6">Come</h1>
    <p class="text-sm-center-light my-5 fs-5 text-break">
      Abbiamo voluto implementare questo programma per studiare l'andamento delle precipitazioni e del clima nella nostra zona, al fine di poter prevedere con una sufficiente precisione i fenomeni atmosferici, cosichè i nostri clienti possano sapere con esattezza
    </p>
  </div>

</div>
{% endblock %}

