{% extends 'ALM/common3.html' %}

{% block content %}
<div class="centra">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Recupera password</h3>
			</div>
        <div class="card-body">
            <form class="row g-3 needs-validation" action="{% url 'ALM:recupera_password' %}" method="post">
                {% csrf_token %}
                <div class="container text-center panel-heading my-3">
                    {% if error_message %}
                    <p class="error rounded p-d ml-b">{{ error_message }}</p>
                    {% endif %}
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input name="username" value="" placeholder="username" type="text" class="form-control">
                </div>
                <div class="col-12 text-center my-5">
                    <input name="inserisci_codice" type="submit" value="Invia" class="login_btn" />
                </div>
            </form>
        </div>
        </div>
    </div>
</div>

{% endblock %}