{% extends 'ALM/common1.html' %}

{% block content %}
<div class="container my-5 text-center shadow p-3 mb-5 bg-body rounded">
  <h1 class="display-4 fw-bold">IL NOSTRO SERVIZIO</h1>
</div>

<div class="container ">
  <div class="container my-2 text-center shadow p-3 mb-5 bg-body rounded" >
    <h1 class="display-6">MAPPA </h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d58572.29102237184!2d9.235274057361085!3d45.78532721171642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smaps!5e0!3m2!1sit!2sit!4v1651260770820!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div id="map"></div>

    <!--
     The `defer` attribute causes the callback to execute after the full HTML
     document has been parsed. For non-blocking uses, avoiding race conditions,
     and consistent behavior across browsers, consider loading using Promises
     with https://www.npmjs.com/package/@googlemaps/js-api-loader.
    -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
      defer
    ></script>

    <p class="text-sm-center my-5 fs-5 text-break">
      spiegazione mappa
    </p>
  </div>

</div>
{% endblock %}

