{% extends 'ALM/common3.html' %}

{% block content %}
<div class="container my-5 mb-3 text-center">
    <form action="{% url 'ALM:login' %}" method="post">
        {% csrf_token %}
        <div class="col-md-20 col-md-offset-20">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Login</h3></div>
                <div class="container text-center panel-body">
                    {% if error_message %}
                        <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                    {% endif %}
                    <div class="container text-center form-group clearfix my-3">
                        <label for="username" class="col-md-4 control-label text-right">Username:</label>
                        <div class="col-md-15">
                            <input name="username" value="" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="container text-center form-group clearfix my-3">
                        <label for="password" class="col-md-4 control-label text-right">Password:</label>
                        <div class="col-md-15">
                            <input name="password" type="password" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-15 col-md-offset-4">
                        <input name="login" type="submit" value="Accedi" class="btn btn-success" />
                        <a type="button" class="btn btn-primary" type="submit" href="{% url 'ALM:user_register'%}">Registrati</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}