{% extends 'ALM/common2.html' %}

{% block content %}
<!-- Titolo della pagina-->
<div class="container my-5 text-center">
  <h1 class="display-4">METEO IN TEMPO REALE</h1>
</div>

<!-- Container con il meteo per il luogo -->
<div class="container card border-primary mb-3">
  <div class="container my-2 text-center">
    <img src="https://www.tp24.it/immagini_articoli/16-01-2018/1516083195-0-meteo-marsala-trapani-bello-soleggiato.jpg" alt="sole" width="300" height="300">
  </div>
  <div class="card-header bg-transparent border-primary">
    <h1 class="display-5">{{ text }}</h1>
  </div>
  <div class="card-body border-primary">
    <ul class="list-group list-group-flush">
    <li class="list-group-item">Temperatura  {{ temp }} °C</li>
    <li class="list-group-item">Umidità</li>
    <li class="list-group-item">Pressione</li>
    </ul>
  </div>

  <div class="card-footer border-primary" style="background-color: #66FFCC;">
    <h5 class="display-6 text-center">Soleggiato</h5>
  </div>
</div>
{% endblock %}